<div class="bureaucracy-action-container" ng-switch on='madeChoice'>
    <div class="waiting-container" ng-switch-when="true">
        <h2>Waiting on other players to power plants.</h2>
    </div>
    <div ng-switch-when="false" class="row">
        <div class="col-lg-6">
            <div class='container'>
                <div class="bureaucracy-plant" ng-repeat="plant in getMyPlants()">
                    <plant toggle-glow ng-click="togglePlant(plant)" rank="{{ plant.rank }}"></plant>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 btn-col">
            <div>
                <div class="btn-group">
                    <button class="btn btn-lg" ng-click="powerPlants()">Power Plants</button>
                    <button class="btn btn-lg" ng-click="powerNone()">Power None</button>
                </div>
                <div  class='bureaucracy-stats' ng-show="plantCart.length">
                    <hr>
                    <span>You'll power {{ getNumberOfCitiesPowered() }} cities.</span><br>
                    <span>You'll make ${{ calculateProfits() }}.</span>
                </div>
            </div>
        </div>
    </div>
</div>