<div class="bureaucracy-action-container" ng-switch on='madeChoice'>
    <div class="waiting-container" ng-switch-when="true">
        <h2>Waiting on other players to power plants.</h2>
    </div>
    <div ng-switch-when="false" class="row">
        <div class="col-lg-6">
            <div class='container' ng-show="hybridChoice === false">
                <div class="bureaucracy-plant" ng-repeat="plant in getMyPlants()">
                    <plant toggle-glow ng-click="togglePlant(plant)" rank="{{ plant.rank }}"></plant>
                </div>
            </div>
        </div>
        <div class="container choice-container" ng-show="hybridChoice === true">
                Which resources do you want to use to power your hybrid plants?
            <table class="table">
                <tr>
                    <td>
                        <img ng-src="/coal.png"/>
                    </td>
                    <td>
                        <hybrid-choice resource-type="'coal'"></hybrid-choice>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img ng-src="/oil.png"/>
                    </td>
                    <td>
                        <hybrid-choice resource-type="'oil'"></hybrid-choice>
                    </td>
                </tr>
            </table>
            <button class="btn btn-lg" ng-click="submitHybridChoice()">Submit</button>
        </div>
        <div class="col-lg-6 btn-col" ng-hide="hybridChoice === true">
            <div>
                <div>
                    <button class="btn" ng-click="powerPlants()">Power Plants</button>
                    <button class="btn" ng-click="powerNone()">Power None</button>
                </div>
                <div  class='bureaucracy-stats' ng-show="plantCart.length">
                    <hr>
                    <span>You'll power {{ getNumberOfCitiesPowered() }} cities.</span><br>
                    <span>You'll make ${{ calculateProfits() }}.</span>
                </div>
            </div>
        </div>
    </div>
</div>