<div class="bureaucracy-action-container" ng-switch on='madeChoice'>
    <div class="waiting-container" ng-switch-when="true">
        <h2>Waiting on other players to power plants.</h2>
    </div>
    <div ng-switch-when="false" class="row">
        <div class="col-lg-6">
            <div class='container' ng-show="hybridChoice === false">
                <div class="bureaucracy-plant" ng-repeat="plant in getMyPlants()">
                    <plant toggle-glow ng-click="togglePlant(plant)" rank="{{ plant.rank }}"></plant>
                </div>
            </div>
        </div>
        <div class="container choice-container hybrid-choice" ng-show="hybridChoice === true">
                Pick your resources.
            <table class="table">
                <tr>
                    <td>
                        <img ng-src="/coal.png"/>
                    </td>
                    <td>
                        <hybrid-choice resource-type="'coal'"></hybrid-choice>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img ng-src="/oil.png"/>
                    </td>
                    <td>
                        <hybrid-choice resource-type="'oil'"></hybrid-choice>
                    </td>
                </tr>
            </table>
            <button class="btn submit-hybrid-choice" ng-click="submitHybridChoice()">Submit</button>
        </div>
        <div class="col-lg-6" ng-hide="hybridChoice === true">
            <div>
                <div class='button-down'>
                    <button class="btn pick"
                            ng-disabled="nonePowered() || notEnoughResources()" 
                            ng-click="powerPlants()">Power
                    </button>
                    <button class="btn pass" ng-click="powerNone()">Pass</button>
                </div>
                <div  class='bureaucracy-stats' ng-show="plantCart.length">
                    <hr>
                    <div ng-hide="notEnoughResources()">
                        <span>You'll power {{ getNumberOfCitiesPowered() }} cities.</span><br>
                        <span>You'll make ${{ calculateProfits() }}.</span>
                    </div>
                    <div ng-show="notEnoughResources()">
                        <span>Not enough resources.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>