<div>
    <game-map game='grid.game' grid='grid' ng-model='showCityBuyPanel'></game-map>
    <plant-and-resource-panel 
                 player="me()"
                 auction="grid.state.auction"
                 players="grid.players"></plant-and-resource-panel>
    <player-panel></player-panel>
    <chat-panel></chat-panel>
    <zoom-map game='grid.game' grid='grid' me='me()' ng-model='cityShoppingCart'></zoom-map>
    <city-buy-panel player="me()" citiesToBuy="cityShoppingCart"></city-buy-panel>
    <game-action-panel></game-action-panel>
</div>