#home {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
	background: $main-background;
	color: #ddd;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	padding-top: 60px;
  h1 {
    text-align: center;
  }
  .top-menu {
  	margin: auto;
  	margin-top: 60px;
    margin-bottom: 30px;
    float: right;
    button {
      width: 200px;
    }
    .btn-primary {
      background-color: #4e89b9;
      border-color: #4e89b9;
      &:hover {
        background-color: #a6c4dc;
      }
    }
    .btn-danger {
      background-color: #67294b;
      border-color: #67294b;
      &:hover {
        background-color: #b394a5;
      }
    }
  }
  tbody tr:hover {
    background-color: #efe9ed;
    color: black;
  }
  tr td {
  	vertical-align: middle;
  }
  tr td:last-child {
    width: 140px;
    button {
      width: 100px;
    }
    .btn-success {
      background-color: #153013;
      border-color: #153013;
      &:hover {
        background-color: #8a9789;
        border-color: #8a9789;
      }
    }
  }
}

