#grid {
  background: $main-background;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  .container {
    padding: 30px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .left-column, .right-column {
    height: calc(100vh - 60px);
  }

  .left-column {
    background-color: #133020;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 12px #888888;
    padding: 5px;
    color: white;
  }

  .top-icons, .bottom-icons {
    display: block;
    margin: 0;
    height: 15px;
  }

  .header {
    margin-top: 15px;
    text-align: center;
    height: 40px;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    h3 span:first-child {
      margin-right: 30px;
    }
    h3 span:last-child {
      margin-left: 30px;
    }
  }

  .body {
    width: 100%;
    height: calc(100vh - 157px);
    padding: 0 60px;
  }

  .color-picker {
    margin-bottom: 0;
    tbody tr td {
      border-top: none;
      div:hover {
        cursor: pointer;
      }
    }
  }
  .color-square {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 12px;
    text-align: center;
    span {
      line-height: 50px;
      font-size: 35px;
    }
  }

  section {
    margin-top: 5px;
  }

  .player-container {
    color: black;
    background-color: #ccba99;
    border: 1px solid #d8d8d8;
    border-radius: 12px;
    height: 60px;
    width: 100%;
    padding: 5px;
    position: relative;

    .bottom-icons {
      margin-top: 18px;
    }
    span.glyphicon-cd {
      color: #d8d8d8;
    }

    .player-info {
      position: absolute;
      transform: translateY(-29%);
      text-align: center;
      margin: 0 14px;
      display: block;
      width: 90%;
      h4 {
        font-size: 1.5em;
      }
      span.glyphicon-flash {
        color: white;
      }
      span.glyphicon-tower {
        color: #ffcf13;
      }
    }
  }

  .btn-group button {
    border: none;
  }

  .cta-buttons {
    margin-right: 65px;
    bottom: 35px;
    position: absolute;

    .btn-info {
      background-color: #302013;
      border: #302013;
      &:hover {
        background-color: #dabca2;
        border: #dabca2;
      }
    }
    .btn-warning {
      background-color: #67294b;
      border-color: #67294b;
      &:hover {
        background-color: #b394a5;
        border-color: #b394a5;
      }
    }
    .btn-success {
      background-color: #4e89b9;
      border: #4e89b9;
      &:hover {
        background-color: #a6c4dc;
        border: #a6c4dc;
      }
    }
  }
  
  .right-column {
    .top-row, .bottom-row {
      background-color: #133020;
      border: 1px solid white;
      padding: 5px;
      border-radius: 12px;
      box-shadow: 0 0 12px #888888;
      span {
        color: white;
      }
    }
    .top-row {
      height: 50%;
      margin-bottom: 5px;
      position: relative;
    }
    .bottom-row {
      height: calc(50% - 5px);
    }
  }

  #region-selector {
    margin-left: 14px;
    margin-right: 14px;
    height: calc(100% - 38px);
    width: calc(100% - 28px);
    @mixin mouse-hover {
      &:hover {
        opacity: 0.5;
      }
    }
    .region-one {
      fill: purple;
      @include mouse-hover;
    }
    .region-two {
      fill: yellow;
      @include mouse-hover;
    }
    .region-three {
      fill: brown;
      @include mouse-hover;
    }
    .region-four {
      fill: blue;
      @include mouse-hover;
    }
    .region-five {
      fill: red;
      @include mouse-hover;
    }
    .region-six {
      fill: green;
      @include mouse-hover;
    }
    .region-selected {
      fill: grey !important;
    }
  }

  #icon-placeholder {
    width: calc(100% - 38px);
    height: calc(100% - 48px);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
      background-color: white;
      border-radius: 100%;
      transform: translateY(50%);
      line-height: 120px;
      font-size: 120px;
      color: $main-background;
    }
  }

  chat {
    .chat-body {
      margin-left: 14px;
      margin-right: 14px;
      height: calc(100% - 67px);
      color: white;
      overflow-y: scroll; 
    }
    form {
      width: calc(100% - 58px);
      margin: 0 auto;
    }
  }
}