<div class="menu-panel-body
            panel 
            panel-default
            plant-slider
            plant-slider-pull">
    <plant plant-to-action
           ng-style="{ opacity: firstFour($index) }"
           ng-show="plantsTrueResourcesFalse"
           ng-class="{ plantHover: hover }"
           ng-mouseover="hover = $index < 4" 
           ng-mouseleave="hover=false"
           ng-repeat="plant in getPlantMarket()" 
           plant="plant"
           rank="{{plant.rank}}">
    </plant>
    <resource-bars data="getResourceMarket()" 
          resource-colors="resourceColors"
          ng-hide="plantsTrueResourcesFalse"
          ng-click="buyResources()">
    </resource-bars>
</div>
<div class="plant-slider
            plant-slider-pull">
    <div class="menu-tab plant-menu-tab"
         ng-click="changeView('plants')"
         ng-class="{ selectedPlantOrResource: plantsTrueResourcesFalse}">
        <span class="glyphicon glyphicon-off">
        </span>
    </div>
    <div class="menu-tab resource-menu-tab"
         ng-click="changeView('resources')"
         ng-class="{ selectedPlantOrResource: !plantsTrueResourcesFalse}">
        <span class="glyphicon glyphicon-oil">
        </span>
    </div>
</div>
<div class="plant-slider plant-slider-pull tab-container main-pull-tab" ng-click="open(); toggleArrows()">
    <span class="glyphicon glyphicon-triangle-right">
</div>
