.glyphicon-user,
.glyphicon-off,
.glyphicon-comment,
.glyphicon-oil,
.glyphicon-triangle-right,
.glyphicon-triangle-left {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 37px;
    color: white;
}

.glyphicon-off, .glyphicon-oil {
    margin-top: 45px;
}

.glyphicon-oil {
    margin-left: 4px;
}

.glyphicon-triangle-right {
    margin-left: 6px;
    margin-top: 102px;
}

.glyphicon-triangle-left {
    margin-left: 4px;
    margin-top: 102px;
}