.glyphicon-flash {
        margin-left: 41px;
        margin-top: 4px;
        color: white;
        font-size: 20px;
}

.glyphicon-user, .glyphicon-off, .glyphicon-comment  {
        font-size: 20px;
        margin-left: 5px;
        margin-top: 37px;
        color: white;
    }