resource-action, city-action, bureaucracy-action {
    font-weight: 100;
    color: white;
    
    .waiting-container {
        box-sizing: border-box;
        padding-top: 60px;
        h2 {
            font-weight: 100;
            text-align: center;
        }
    }
    
    .row {
        
        tbody {
            border-top: 2px solid transparent;    
        }
        
        .table {
            margin-left: 20px;
        }
    }
    
    .btn-col {
        .btn-group {
            margin-top: 60px;
            margin-left: 35px;
        }   
    }
    
    
    button.btn.btn-lg,
    button.btn.btn-lg:hover,
    button.btn,
    button.btn:hover {
        color: white;
        font-weight: 100;
        background-color: $main-background;
        margin-bottom: 5%;
        border: 1px solid white;
        text-align: center;
    }
    
}

city-action {
    .city-container {
        padding: 20px 30px 0;
        display: block;
        float: left;
    }
}

bureaucracy-action {
    .bureaucracy-plant {
        display: block;
        float: left;
        margin-top: 10px;
        img {
            border-radius: 6px;   
        }
    }
    
    .picked-plant {
        box-shadow: 0px 0px 20px #fff;
    }
    
    .bureaucracy-stats {
        text-align: center;
    }
    .btn-col {
        text-align: center;
        button.btn {
            margin: 70px 0 0 0;
        }
    }
    
    .choice-container {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        table {
            margin-bottom: 0;
            .btn-group {}
        }
        td {
            text-align: left;
        }
    }
    
}

resource-action, bureaucracy-action {
    td {
        img {
            margin-top: 9px;
            max-width: 18px;
        }
    }
}