resource-action,
city-action,
bureaucracy-action, 
discard-plant-action, {
    font-weight: 100;
    color: white;
    .waiting-container {
        box-sizing: border-box;
        padding-top: 60px;
        h2 {
            font-weight: 100;
            text-align: center;
        }
    }
    .row {
        tbody {
            border-top: 2px solid transparent;
        }
        .table {
            margin-left: 20px;
        }
    }
    .btn-col {
        .btn-group {
            margin-top: 60px;
            margin-left: 35px;
        }
    }
    
    button.btn,
    button.btn:hover {
        color: white;
        font-weight: 100;
        background-color: $main-background;
        margin-bottom: 5%;
        border: 1px solid white;
        text-align: center;
    }
}

city-action {
    .city-container {
        padding: 20px 30px 0;
        display: block;
        float: left;
    }
    .col-lg-6 {
        padding-top: 50px;
    }
}

bureaucracy-action {
    .bureaucracy-plant {
        display: block;
        float: left;
        margin-top: 10px;
        img {
            border-radius: 6px;
            max-width: 60px;
            margin-left: 0px;
        }
    }
    .picked-plant {
        box-shadow: 0px 0px 20px #fff;
    }
    .bureaucracy-stats {
        text-align: center;
        position: fixed;
        left: 0;
        top: 100px;
        width: 200px;
    }
    .btn-col {
        text-align: center;
        button.btn {
            margin: 70px 0 0 0;
        }
    }
    .choice-container {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        .submit-hybrid-choice {
            position: fixed;
            right: 250px;
        }
        table {
            margin-top: 10px;
            margin-bottom: 0;
            width: 170px;
        }
        td {
            text-align: left;
        }
    }
    
    .button-down {
        margin-top: 20px;
    }
}

resource-action,
bureaucracy-action {
    td {
        img {
            margin-top: 9px;
            max-width: 18px;
        }
    }
}

resource-action, .hybrid-choice {
    img {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
}

discard-plant-action {
    .slide-down {
        img{
            transform: translateY(20px);
        }
    } 
}

