$panel-width: 800px;
$panel-height: 300px;
$tab-width: 100px;
$tab-height: 30px;

bottom-panel {
    width: 0;
    height: 0;
    position: fixed;
    z-index: 2;
  
    .bottom-slider {
        float: none;
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
        -webkit-transform: translateY(calc(100vh - #{$panel-height}));
        transform: translateY(calc(100vh - #{$panel-height}));
    }

    .bottom-slider-pull {
        -webkit-transform: translateY(calc(100vh - #{$tab-height}));
        transform: translateY(calc(100vh - #{$tab-height}));
    }
  
    .menu-tab {
        width: $tab-width;
        height: $tab-height;
        margin-left: calc(#{$panel-width} - #{$tab-width});
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid white;
    }
    
    .menu-tab:hover {
        background-color: grey;
    }
  
    .menu-panel-body {
        border-radius: 0;
        height: $panel-height;
        width: $panel-width;
        border-width: 0;
    }
    
}