
$chat-panel-width: 430px;
$chat-panel-height: 270px;
$chat-tab-width: 30px;
$chat-tab-height: 100px;
chat-panel {
    position: relative;
    z-index: 2;
  
    .chat-slider {
        float: right;
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
    }

    .chat-slider-pull {
        -webkit-transform: translateX($chat-panel-width);
        transform: translateX($chat-panel-width);
    }
  
    .menu-tab {
        width: $chat-tab-width;
        height: $chat-tab-height;
        border-radius: 5px 0 0 5px;
        border-right: 1px solid white;
    }
    .menu-tab:hover {
        background-color: grey;
    }
  
    .menu-panel-body {
        clear: both;
        height: $chat-panel-height;
        width: $chat-panel-width;
        border-radius: 0 0 0 5px;
        border-width: 0;
        
        .chat-body, form {
            width: 95%;
            margin: 0 auto;
            border: 1px solid black;
            overflow-y: scroll;
            padding-bottom: 0px;
        }
        
        .message {
            height: 10%;
            color: white; 
        }
        
        .chat-body {
            height: 76%;
            margin: 2% auto;
            border-radius: 3px;
            color: white;
        }
        
        form {
            color: black;
            border-radius: 4px;
        }
    }
}