.discard-plant-action-container {
    h5 {
        position: fixed;
        top: 10px;
        left: 10px;
    }
    
    plant {
        img {
            margin-top: 60px;
        }
    }
    
    button {
        position: fixed;
        top: 10px;
        right: 210px;
    }
}