

game-action-panel {
    $game-action-box-bottom: 200px;
    $game-action-box-left: 0px;
    $game-action-panel-width: 700px;
    $game-action-panel-height: 200px;   
    -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
    transition: width 2s, height 2s, background-color 1s, transform .25s;    
    width:0;
    height:0;
    position: fixed;
    bottom: $game-action-box-bottom;
    left: $game-action-box-left;
    z-index: 200;
    

    .game-action-slider {
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
    }

    .game-action-slider-pull {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .menu-tab:hover {
        background-color: grey;
    }

    .menu-panel-body {
        height: $game-action-panel-height;
        width: $game-action-panel-width;
        border-radius: 0 5px 0 0;
        border-width: 0;
    }
    
    .big-action-container {
        text-align: center;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    
    
    
}

.game-action-hide {
    transform: translateX(-501px);
    -webkit-transform: translateX(-501px);
}