.map {
    position: absolute;
    top: 0;
    left: 0;

    .zoom {
        body {
            margin: 0;
        }
        path {
            fill: none;
            stroke: red;
            stroke-linejoin: round;
            stroke-width: 1.5px;
        }

    }

    .connectionLines {
        stroke: grey;
        stroke-width:1.5px;
    }

}
