plant-action {
    color: white;
    font-weight: 100;
    text-align: center;
    
    .table {
        margin-top: 5px;
        font-size: .6em;
    }
    .auction-text {
        padding-left: 10px;        
    }
    .plant-action-container {
        padding-top: 20px;
    }
    .row, col-lg-4 {
        width: 100%;
    }
    
    bid {
        margin-left: 6px;
    }
    
    hr {
        border: 1px solid black;
    }
    h2, h4 {
        color: white;
        text-align: center;
        font-weight: 100;
    }
    >div {
        padding-top: 10px;
        text-align: center;
    }
    button.btn.btn-lg,
    button.btn.btn-lg:hover {
        color: white;
        font-weight: 100;
        background-color: $main-background;
        margin-bottom: 5%;
        border: 1px solid white;
    }
    
    .buttons-down {
        margin-top: 40px;
    }
}