
$plant-panel-width: 450px;
$plant-panel-height: 225px;
$plant-side-tab-width: 30px;
$plant-side-tab-height: 100px;
plant-panel {
    width:0;
    height:0;
    position: relative;
    z-index: 200;
  
    .plant-slider {
        margin-top: 3%;
        float: left;
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .plant-slider-pull {
        -webkit-transform: translateX(-$plant-panel-width);
        transform: translateX(-$plant-panel-width);
    }
  
    .menu-tab {
        width: $plant-side-tab-width;
        height: $plant-side-tab-height;
        border-radius: 0 5px 5px 0;
        border-left: 1px solid white;
    }
    .menu-tab:hover {
        background-color: grey;
    }
  
    .menu-panel-body {
        height: $plant-panel-height;
        width: $plant-panel-width;
        border-radius: 0 0 5px 0;
        border-width: 0;
    }
}