
$plant-panel-width: 450px;
$plant-panel-height: 225px;
$plant-side-tab-width: 30px;
$plant-side-tab-height: 100px;

plant-and-resource-panel {
    width:0;
    height:0;
    z-index: 200;
    position: fixed;
    top: 60px;
    left: calc(#{$plant-panel-width} + #{$plant-side-tab-width});
    div {
        border-radius: 0;
    }
    .plant-slider {
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        
    }

    .plant-slider-pull {
        -webkit-transform: translateX(calc(-#{$plant-panel-width} - #{$plant-side-tab-width}));
        transform: translateX(calc(-#{$plant-panel-width} - #{$plant-side-tab-width}));
    }
    
    .tab-container {
        border-radius: 0 5px 5px 0;
    }
  
    .menu-tab {
        width: $plant-side-tab-width;
        height: $plant-panel-height/2;
        border-left: 1px solid white;
    }
    .menu-tab:hover, .main-pull-tab:hover {
        background-color: grey;
    }
    

    .resource-menu-tab, .menu-tab {
        position: fixed;
        left: -30px;
        background-color: $main-background;
    }
    .resource-menu-tab {
        border-top: 1px solid white;
        top: $plant-panel-height/2;
        
    }
    
    
    .main-pull-tab {
        width: $plant-side-tab-width;
        height: $plant-panel-height;
        border-left: 1px solid white;
        top: 40px;
        left: 0;
    }
    
  
    .menu-panel-body {
        position: fixed;
        left: 0;
        height: $plant-panel-height;
        width: $plant-panel-width;
        border-width: 0;
        border-radius: 0;
    }
    
    .plantHover {
        img {
            border: 4px solid $main-background;
        }
    }

    .selectedPlantOrResource, .selectedPlantOrResource:hover {
        background-color: #FA5349;
    }
}