$plant-panel-width: 300px;
$plant-side-tab-width: 30px;
$plant-side-tab-height: 100px;

plant-panel {
    overflow: hidden;
    position: relative;
    z-index: 200;
  
    .plant-slider {
        margin-top: 2%;
        float: left;
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .75s;
        transition: width 2s, height 2s, background-color 1s, transform .75s;
    }

    .plant-slider-pull {
        -webkit-transform: translateX(-$plant-panel-width);
        transform: translateX(-$plant-panel-width);
    }
  
    .menu-tab {
        width: $plant-side-tab-width;
        height: $plant-side-tab-height;
        border-radius: 0 5px 5px 0;
        border-left: 1px solid white;
    }
    .menu-tab:hover {
        background-color: grey;
    }
  
    .menu-panel-body {
        height: 60vh;
        width: $plant-panel-width;
        border-radius: 0 0 5px 0;
        border-width: 0;
    }
    .glyphicon-user {
        font-size: 20px;
        margin-left: 5px;
        margin-top: 37px;
        color: white;
    }
    
}