$panel-width: 280px;
$panel-height: 600px;
$side-tab-width: 30px;
$side-tab-height: 100px;
$panel-position: 20px;
player-panel {
    color: white;
    overflow: hidden;
    position: fixed;
    top: $panel-position;
    right: 0;
    clear: both;
    z-index: 200;
    .right-slider {
        float: right;
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
    }
    .right-slider-pull {
        -webkit-transform: translateX($panel-width);
        transform: translateX($panel-width);
    }
    .menu-tab {
        width: $side-tab-width;
        height: $side-tab-height;
        border-right: 1px solid white;
        border-top: 1px solid white;
        clear: right;
    }

    .menu-tab:hover {
        background-color: grey;
    }

    .triangle-tab {
        border-top: none;
        width: $side-tab-width;
        height: 100px;
        border-radius: 5px 0 0 0;
    }

    .tab-container {
        border-radius: 5px 0 0 5px;
    }

    .chat-tab {
        border-radius: 0 0 0 5px;
    }

    .menu-panel-body {
        height: $panel-height;
        width: $panel-width;
        border-radius: 0 0 0 5px;
        border-width: 0;
    }
    .glyphicon-user {
        font-size: 20px;
        margin-left: 5px;
        margin-top: 37px;
        color: white;
    }

    .active-tab, .active-tab:hover {
        background-color: #1E8EEB;
    }

    chat {
        #chat-window {
            height: 455px;
            overflow-y: scroll;
        }
        form, .chat-input {
            color: white;
            font-weight: 100;
            width: 95%;
            margin: 0 auto;
            background-color: $main-background;
        }
    }
}
