#resourceChart {
    width: 100%;
    height: 100%;

    .bar {
        fill: steelblue;
    }

    .bar:hover {
        fill: brown;
    }

    .axis {
        font: 8px sans-serif;
    }

    .axis path {
        fill: none;
        stroke: white;
        shape-rendering: crispEdges;
    }

    .axis line {
        fill: none;
        stroke: white;
        shape-rendering: crispEdges;
    }

    .y.axis path {
        display: none;
    }

}