$panel-width: 280px;
$panel-height: 500px;
$side-tab-width: 30px;
$side-tab-height: 100px;
$panel-position: 60px;
side-panel {
    overflow: hidden;
    position: fixed;
    top: $panel-position;
    right: 0;
    clear: both;
    z-index: 200;
    .right-slider {
        float: right;
        background-color: $main-background;
        opacity: .8;
        -webkit-transition: width 2s, height 2s, background-color 1s, -webkit-transform .25s;
        transition: width 2s, height 2s, background-color 1s, transform .25s;
    }
    .right-slider-pull {
        -webkit-transform: translateX($panel-width);
        transform: translateX($panel-width);
    }
    .menu-tab {
        width: $side-tab-width;
        height: $side-tab-height;
        border-radius: 5px 0 0 5px;
        border-right: 1px solid white;
    }
    .menu-tab:hover {
        background-color: grey;
    }
    .menu-panel-body {
        height: $panel-height;
        width: $panel-width;
        border-radius: 0 0 0 5px;
        border-width: 0;
    }
    .glyphicon-user {
        font-size: 20px;
        margin-left: 5px;
        margin-top: 37px;
        color: white;
    }
}