<div class="modal-header">
  <h2 class="modal-title"><span class="glyphicon glyphicon-cog" style="vertical-align: text-top;"></span>&nbsp;&nbsp;&nbsp;Settings</h2>
</div>
<div class="modal-body">
	<div class="modal-body-container">
		<div class="row">
			<div class="col-sm-6 left-column">
				<h5>Choose a Map: </h5>
				<br>
				<br>
				<h5>Set Maximum Number Of Players:</h5>
				<br>
				<br>
				<h5>Select The Regions To Play In:</h5>
			</div>
			<div class="col-sm-6 right-column">
		    <div class="btn-group" uib-dropdown uib-keyboard-nav>
		      <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle>
		      	<span ng-class="flag(gameSettings.map)"></span>{{ gameSettings.map }}&nbsp;&nbsp;<span class="caret"></span>
		      </button>
		      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
	          <li role="menuitem" ng-repeat="country in countries">
	          	<a ng-click="selectMap(country.name)">
	          		<span ng-class="flag(country.name)"></span>{{ country.name }}
	          	</a>
	          </li>
		      </ul>
		    </div>
		    <br>
		    <br>
		    <br>
		    <div class="btn-group" uib-dropdown uib-keyboard-nav>
		      <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle>
						{{ gameSettings.numPlayers }}&nbsp;&nbsp;<span class="caret"></span>
		      </button>
		      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
	          <li role="menuitem" ng-repeat="choice in numPlayersChoices"><a ng-click="selectNumPlayers(choice)">{{ choice }}</a></li>
		      </ul>
		    </div>
		    <br>
		    <br>
		    <br>
		    <div class="btn-group">
	        <label class="btn btn-default" ng-repeat="region in regions" ng-model="checked[region]" uib-btn-checkbox>{{ region }}</label>
			  </div>
			</div>
		</div>

	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-sm-offset-8 col-sm-2" style="padding-right: 5px;">
		  <button class="btn btn-success btn-block" type="button" ng-click="ok(gameSettings)">Create</button>
		</div>
		<div class="col-sm-2" style="padding-left: 5px;">
		  <button class="btn btn-info btn-block" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>