<div id="grid">
    <div class="container">
      <div class="color-squares">
        <div class="color-square" ng-repeat="color in colors" ng-style="{ background: color }" ng-click="changeColor(color)"></div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Players</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in grid.users">
            <td> {{user.username}} </td>
            <td class="color-square-td"> <div ng-style="{ background: user.color }" class="color-square"></div> </td>
          </tr>
        </tbody>
      </table>
      <div class="button-container"> 
        <button class="btn btn-lg btn-default" ng-click="startGame()">Start Game</button>
        <button class="btn btn-lg btn-default" ng-click="leaveGame()">Leave Game</button>
      </div>
	</div>
</div>