<div id="grid" class="animated fadeInLeftBig">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <table class="table color-squares">
              <tbody>
                <tr>
                  <td ng-repeat="color in colors"><div class="color-square" ng-style="{ background: color, opacity: colorPicked(color) }" ng-click="!colorPicked(color) && changeColor(color)">
                  </div></td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>Players</th>
                  <th class="color-header">Color</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in grid.players">
                  <td> {{player.user.username}} </td>
                  <td> <div ng-style="{ background: player.color }" class="color-square"></div> </td>
                </tr>
              </tbody>
            </table>
            <div class="button-container"> 
              <button class="btn btn-lg btn-primary" ng-click="startGame()">Start Game</button>
              <button class="btn btn-lg btn-danger" ng-click="leaveGame()">Leave Game <span class="glyphicon glyphicon-share-alt" ></span></button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <chat key="key" me="me.username"></chat>
          </div>
      </div>
    </div>
</div>