<div class="plant-action-container">
    <div class="row" ng-hide="hideAuction()">
        <div class="col-lg-4">
            <div ng-if="getPlantToBidOn() || auction">
                <div ng-show="auction" class="auction-text">
                    Up for auction:
                </div>
                <plant rank="{{auctionPlant ? auctionPlant.rank : getPlantToBidOn().rank}}">
                </plant>
                <bid ng-show="shouldSeeBidButtons()"
                     start="{{ auction ? auction.bid + 1 : getPlantToBidOn().rank}}" 
                     ng-model="$parent.bid">
                </bid>
            </div>
        </div>
        <div class="col-lg-4">
            <div ng-hide="getAuction()">
                <div ng-hide="getPlantToBidOn() || getAuction()">
                    <h2>Pick a Plant</h2>
                    <div ng-hide="turnIsOne()">
                        <h4>&#8212   or   &#8212</h4>
                        <button class="btn pass" ng-click="pass()">Pass</button>
                    </div>
                </div>
                <div ng-show="getPlantToBidOn()" class="buttons-sidebyside">
                    <button class="btn pick" ng-click="pickPlant()">Pick</button>
                    <button class="btn pass" ng-hide="turnIsOne()" ng-click="pass()">Pass</button>
                </div>
            </div>
            <div ng-show="shouldSeeAuctionButtons()" class="buttons-sidebyside">
                    <button class="btn pick" ng-click="bidFor(bid)">Bid</button>
                    <button class="btn pass" ng-click="pass()">Pass</button>
            </div>
        </div>
        <div ng-show="auction" class="col-lg-4">
            Still in auction:
            <table class="table">
                <tr ng-repeat="player in auction.remainingPlayers">
                    <td>
                        <div class="glyphicon glyphicon-home"
                             ng-style="{ color: player.color }">
                        </div>
                    </td>
                    <td>
                        {{player.user.username}}
                    </td>
                    <td>
                        <span ng-show="player._id === auction.highestBidder"> Highest bid: ${{ auction.bid }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>