#login-main {
	overflow: hidden;
	color: #ddd;
	background: #132330;
	min-height: 100vh;
	height: 100%;
	width: 100%;

	.login-container	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		h1 {
			text-align: center;
			font-weight: 300;
		}
	}
	#login-form {
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		-ms-animation-delay: 1s;
	}
	.signup-message {
		text-align: center;
		h4 {
			font-weight: 300;
		}
		a {
			text-decoration: none;
		}
	}
	.footer {
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
	}
}
