.settings-modal {
  color: white;
	margin-top: 60px;
	.modal-body {
		height: 300px;
		padding-bottom: 0;
	}
	.modal-header {
		h2 {
			margin-left: 10px;
		}
		border-bottom: none;
		padding-bottom: 0;
	}
	.modal-footer {
		border-top: none;
		padding-top: 0;
	}
  .modal-content {
    background-color: #133020;
  }
	.modal-body-container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		.row {
			margin-bottom: 30px;
		}
		#random-regions {
			margin-bottom: 0;
		}
	}
	.right-column {
		text-align: right;
		.game-name-container {
			width: 75%;
			display: block;
			float: right;
		}
		li {
			cursor: pointer;
		}
		span {
			margin-right: 8px;
		}
	}
}