#splash-main {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	background: no-repeat center center;
  background-size: cover;

	.title {
		text-align: center;
		h1 {
			font-size: 4.5em;
		}
	}

	.enter-button {
		margin-top: 15px;
		text-align: center;
	}

	button {
		text-align: center;
		width: 200px;
		height: 50px;
		font-size: 25px;
		background: transparent;
		border: 2px solid;
		&:hover {
			background: #4e89b9;
		}
	}
}