<div class="city-action-container">
    <div class="waiting-container" ng-hide="shouldAllowCityBuying()">
        <h2>Waiting on {{ getActivePlayer().user.username }} to buy cities...</h2>
    </div>
    <div class="row" ng-show="shouldAllowCityBuying()">
        <div class="col-lg-6">
            Total: ${{ getCartPrice() }}
        </div>
        <div class="col-lg-6">
            <div class="btn-group">
                <button class="btn" ng-click="buyCities()">Buy</button>
                <button class="btn" ng-click="pass()">Pass</button>
            </div>
        </div>
    </div>
</div>