<div class="discard-plant-action-container" ng-show="iAmActiveDiscarder()">
    <h5>Discard a plant</h5>
    <plant ng-class="{ 'slide-down' : isPlantToDiscard(plant) }"
           rank="{{ plant.rank }}"
           ng-repeat="plant in getMyPlants()"
           ng-click="isPlantToDiscard(plant) ? unsetAsPlantToDiscard(plant, $index) : setAsPlantToDiscard(plant, $index)"
           ng-class="{'discard-plant': isPlantToDiscard(plant)}">
    </plant>
    <button class="btn"
            ng-click="choosePlantToDiscard()" 
            ng-disabled='!plantHasBeenChosen()'>Submit
    </button>
</div>