<div class='bid-modal'>
  <plant plant="plant">
  </plant>
  <hr>
  <div ng-show="auction">
      {{ auction.bid }}
      <div ng-repeat="player in playersInAuction">
        <span ng-style="{ color: player.color }"
              ng-class="{ 'active-player': isActivePlayer(player) }">
            {{ player.user.username }}
        </span>
      </div>
  </div>
  <h2> Make a bid </h2>
  <div>
    <bid ng-model="bid" start="auction.bid || plant.rank"></bid>
  </div>
  <hr>
  <div>
    <button class="btn btn-lg" ng-click="bidForPlant(bid)">Submit </button>
    <button class="btn btn-lg" ng-click="pass()">Pass</button>
  </div>
</div>