<section id="home" class="animated">
  <div class="container">
    <h1>Wilkommen {{ modalOpen }}</h1>
    <div class="row top-menu">
      <div class="col-xs-6 left-column">
        <button class="btn btn-warning btn-lg" ng-click="openProfile()">&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span> {{ me }}&nbsp;&nbsp;</button>
      </div>
      <div class="col-xs-6 right-column">
        <button class="btn btn-primary btn-lg" ng-click="newGame()"><span class="glyphicon glyphicon-plus"></span> New Game</button>
        <button class="btn btn-danger btn-lg" ng-click="logout()">Log out <span class="glyphicon glyphicon-share-alt"></span></button>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="text-align: center;">Room</th>
          <th>Room Name</th>
          <th style="text-align: center;">Players</th>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Join</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="grid in getLiveJoinableGames()">
          <td style="text-align: center;">{{ $index + 1 }}</td>
          <td>{{ grid.name }}</td>
          <td style="text-align: center;">{{ grid.players.length || 0 }} / {{ grid.maxPlayers }}</td>
          <td style="text-align: center;" ng-class="{ 'animated flash infinite': currentlyInGame(grid) }">Waiting</td>
          <td style="text-align: center;">
            <button ng-click="joinGame(grid)" class="btn btn-success" ng-if="!currentlyInGame(grid)">Join</button>
            <button ng-click="goBackIn(grid)" class="btn btn-warning" ng-if="currentlyInGame(grid)">Go Back</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
