$main-background: #0C161E;

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron'), url('/orbitron-light.otf') format('opentype');
}

@font-face {
  font-family: 'Orbitron';
  font-weight: 500;
  src: local('Orbitron'), url('/orbitron-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Orbitron';
  font-weight: 700;
  src: local('Orbitron'), url('/orbitron-bold.otf') format('opentype');
}

body {
  background: no-repeat center center;
  background-size: cover;
  background-image: url('/nasa_nighttime.jpg');
  height: 100vh;
  width: 100vw;
  font-family: 'Orbitron', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: auto;
}

@import 'directives/_main';
@import 'directives/playerPanel';
@import 'directives/chatPanel';
@import 'directives/plantAndResourcePanel';
@import 'directives/resource';
@import 'directives/plant';
@import 'directives/player';
@import 'directives/message';
@import 'directives/resourceChart';
@import 'directives/gameActionPanel';
@import 'directives/cityBuyPanel';
@import 'directives/plantAction';
@import 'directives/actionPanels';
@import 'directives/commandCenter';
@import 'directives/discardPlant';
@import 'directives/graphs/barGraph';
@import 'directives/map';
@import 'home/main';
@import 'about/main';
@import 'profile/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'settings/main';
@import 'grid/main';
@import 'splash/main';
@import 'modals/_main';
