$main-background: #132330;
* {
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    margin: auto;
}

@import 'directives/_main';
@import 'directives/playerPanel';
@import 'directives/chatPanel';
@import 'directives/plantAndResourcePanel';
@import 'directives/resource';
@import 'directives/plant';
@import 'directives/player';
@import 'directives/message';
@import 'directives/resourceChart';
@import 'directives/gameActionPanel';
@import 'directives/cityBuyPanel';
@import 'directives/plantAction';
@import 'directives/actionPanels';
@import 'directives/graphs/barGraph';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'settings/main';
@import 'game/main';
@import 'grid/main';