$main-background: #132330;


* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: auto;
}

@import 'directives/_main';
@import 'directives/sidePanel';
@import 'directives/bottomPanel';
@import 'directives/chatPanel';
@import 'directives/plantPanel';
@import 'directives/resource';
@import 'directives/plant';
@import 'directives/player';
@import 'directives/bidModal';
@import 'directives/message';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'settings/main';
@import 'game/main';
@import 'grid/main';
