#signup-main {
	color: #ddd;
	background: $main-background;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	.signup-container	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		h1 {
			margin-left: 1.5em;
			font-weight: 300;
		}
	}
	#signup-form {
		label {
			font-weight: 300;
		}
		.btn-primary {
      background-color: #153013;
      border-color: #153013;
      &:hover {
        background-color: #8a9789;
        border-color: #8a9789;
      }
    }
	}
	.signup-message {
		text-align: center;
		h4 {
			font-weight: 300;
		}
		a {
			text-decoration: none;
		}
	}
}
