#gameMap {
	width: 100%;
	margin: auto;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  
//    .wrapper {
//        min-height: 100%;
//        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
//        height: 100%;
//        margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
//    }
//    .footer, .push {
//        height: 155px; /* .push must be the same height as .footer */
//    }
//
//    /*
//
//    Sticky Footer by Ryan Fait
//    http://ryanfait.com/
//
//    */
}


