#gameMap {
	width: 100%;
	margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#gameMapTrial {
	// display: block;
	// width: 100vw;
	// height: 100vh;
	// width: 2560px;
	// width: 1600px;
	svg {
		position: absolute;
		// top: 0;
		// bottom: 0;
		// height: 100%;
		// width: 100%;
		defs {
			path {
				// width: 100%;
				// height: 100%;
			}
		}
	}
	.stroke {
		fill: none;
		stroke: #000;
		stroke-width: .5;
	}
}